.desktop-text {
  display: flex;
  align-items: center;
}

.mobile-text {
  font-size: small;
}

.green-text {
  color: green;
}

.red-text {
  color: rgb(255, 0, 0, 90%);
}

.yellow-text {
  color: rgb(255, 255, 0, 90%);
}

.orange-text {
  color: rgb(255, 165, 0, 90%);
}

.low-contract {
  font-style: italic;
}

.high-contract {
  font-style: italic;
}

.invalid-row {
  background-color: rgb(255, 0, 0, 25%);
  align-items: center;
}

.valid-row {
  align-items: center;
}
