.desktop-text {
  display: flex;
  align-items: center;
}

.mobile-text {
  font-size: small;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: yellow;
}

.orange-text {
  color: orange;
}

.low-contract {
  font-weight: lighter;
}

.high-contract {
  font-weight: bolder;
}
