.desktop-text {
  display: flex;
  align-items: center;
}

.mobile-text {
  font-size: small;
}

.green-text {
  color: green;
}

.red-text {
  color: rgb(255, 0, 0, 90%);
}

.yellow-text {
  color: rgb(255, 255, 0, 90%);
}

.orange-text {
  color: rgb(255, 165, 0, 90%);
}

.low-contract {
  font-style: italic;
}

.high-contract {
  font-style: italic;
}

.invalid-row {
  background-color: rgb(255, 0, 0, 20%);
  align-items: center;
}

.valid-row {
  align-items: center;
}

@keyframes pulse-dashed {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes pulse-bar2 {
  0% {
    background-color: rgb(72, 101, 124);
  }
  50% {
    background-color: #90caf9;
  }
  100% {
    background-color: rgb(72, 101, 124);
  }
}

@keyframes default-dashed {
  0% {
    -webkit-background-position: 0 -23px;
    background-position: 0 -23px;
  }
  50% {
    -webkit-background-position: 0 -23px;
    background-position: 0 -23px;
  }
  100% {
    -webkit-background-position: -100px -23px;
    background-position: -100px -23px;
  }
}
